<section id="sign_in" class="modal_sign_in">
  <div class="menu">
      <form action="" method="get" class="form_sign_in">
          <h2 class="title_sign_in">
              Metin2
          </h2>
          <div class="input_sign_in">
              <label for="user">Usuario</label>
              <input type="text" name="user" id="user" placeholder="" required>
          </div>
          <div class="input_sign_in">
              <label for="new_password">Contraseña</label>
              <input type="password" name="new_password" id="new_password" placeholder="" required>
          </div>
          <button class="button" type="submit">
              Iniciar Sesión
          </button>
      </form>
  </div>
</section>
